@import "tailwindcss";
@import "./styles/fonts.css";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-work-sans);
  }
}
