@import "tailwindcss";
@import "./styles/fonts.css";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;

  --shadow-hard-primary-2: 2px 2px 0px 0px var(--color-blue-900);
  --shadow-hard-primary-3: 3px 3px 0px 0px var(--color-blue-900);
  --shadow-hard-primary-4: 4px 4px 0px 0px var(--color-blue-900);
  --shadow-hard-primary-8: 8px 8px 0px 0px var(--color-blue-900);
  --shadow-hard-accent-4: 4px 4px 0px 0px var(--color-amber-500);
  --shadow-hard-dark-2: 2px 2px 0px 0px var(--color-black);
}

@layer base {
  body {
    font-family: var(--font-space-grotesk);
  }
}

#root {
  background: url("@/assets/images/background.svg"),
    linear-gradient(to bottom, #3271b1, #668bb8);

  @apply min-h-screen flex flex-col items-center;
}

.my-border-dashed-black {
  border-image: url("@/assets/images/border-dashed-black.png") 33.333% / auto
    round;
}

.my-border-dashed-blue {
  border-image: url("@/assets/images/border-dashed-blue.png") 32 / 22px round;
}
